DATABASE_URL=postgresql://postgres.vfucebilbirbsxuidvdp:9182874312As*@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
QDRANT_URL=localhost
QDRANT_PORT=6333
GEMINI_API_KEY=AIzaSyCS1Jmabh4heMRYZpKxpi3IEBnaNCorgy4

# Uncomment and fill these for Qdrant Cloud
# QDRANT_URL=https://your-cluster.qdrant.tech
# QDRANT_API_KEY=your-api-key
